@model Sklep.ViewModels.ArtykulyListViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usuń</h2>

<h3>Czy na pewno chcesz usunąć towar?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Details.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details.Unit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details.Unit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details.Describtion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details.Describtion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details.Photo)
        </dt>

        <dd>
            <h2 align="center">
                @if (Model.Details.Photo != null)
                {
                    <img src="data:image;base64,@Convert.ToBase64String(Model.Details.Photo)" />
                }
                else
                {
                    <img src="/Pliki/image_404.png" alt="" />
                }
            </h2>
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-secondary" /> |
            @Html.ActionLink("Wróć", "Index")
        </div>
    }
</div>
