@model Sklep.Models.Artykul

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<button type="button" class="btn btn-secondary">
    @Html.ActionLink("Wróć", "Index")
</button>

<h1 align="center">@Html.DisplayFor(model => model.Nazwa)</h1>

<div>

    <dl class="dl-horizontal">

        <h2 align="center">
            @Html.DisplayFor(model => model.Zdjecie)
        </h2>

        <h3 align="center">

            @Html.DisplayFor(model => model.Opis)

        </h3>

        <dt>
            Dostępna ilosć:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ilosc) @Html.DisplayFor(model => model.Jednostka)
        </dd>




    </dl>
</div>
<div style="width: 100%;
  display: flex;
  justify-content: center;">
<button type="button" algin="center" class="btn btn-secondary">
    <h3>
        @Html.ActionLink(
    linkText: "Zamów",
    actionName: "Create",
    controllerName: "Transakcje",
    routeValues: new {
    id = Model.Id_towaru
    },
    htmlAttributes: null
    )
    </h3>
</button>
</div>

