@model IEnumerable<Sklep.Models.Artykul>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Artykuły</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Zdjecie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nazwa)
        </th>


        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Zdjecie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nazwa)
        </td>

        <td>
            <button type="button" class="btn btn-default">
                @Html.ActionLink("Wyświetl", "Details", new { id = item.Id_towaru })
            </button>
        </td>
    </tr>
}

</table>
<button type="button" align="right" class="btn btn-default">
    @Html.ActionLink("Stwórz nowy produkt", "Create")
</button>