@model Sklep.Models.Transakcja

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.ActionLink("Wróć", "Index", new { @class = "btn btn-secondary" })

<div>
    <h4>Transakcja</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Artykul.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artykul.Nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ilosc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ilosc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Utworzono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utworzono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Potwierdzono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Potwierdzono)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Potwierdź zakup", "Edit", new { id = Model.ID_transakcji }, new { @class = "btn btn-secondary" })
</p>
