@model Sklep.ViewModels.TransakcjeListViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.ActionLink("Wróć", "Index", new { @class = "btn btn-secondary" })

<div>
    <h4>Transakcja</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Details.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details.Accepted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details.Accepted)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Potwierdź zakup", "Edit", new { id = Model.Details.Id }, new { @class = "btn btn-secondary" })
</p>
